[Unit]
Description=PiWeatherRock Service
After=network.target AlexaPi.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi
Environment='DISPLAY=:0'
ExecStartPre=/bin/sleep 30
ExecStart=python3 /home/pi/PiWeatherRockWind/pwr-ui -c /home/pi/PiWeatherRockWind/config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
